{% extends "admin/_admin_base.html" %}
{% import "macros/_wtf.html" as wtf %}

{%- block pageheader -%}
<h1>PDX Ultimate Frisbee</h1>
<h3>{{team.name}} Admin Area</h3>
{%- endblock -%}


{%- block content -%}
<form class="" method='post' action="">
    {{ form.hidden_tag() }}
    <fieldset class="">
            {{ wtf.regular_field(form.name) }}
            {{ wtf.regular_field(form.slug) }}
            {{ wtf.regular_field(form.twitter) }}
            {{ wtf.regular_field(form.roster_url) }}
            {{ wtf.regular_field(form.fb_url) }}
            {{ wtf.regular_field(form.about) }}
    </fieldset>
    <button type="submit" class="float-right button button-primary">Submit</button>
</form>
{%- endblock -%}
