{% import "macros/_wtf.html" as wtf %}

{{ form.hidden_tag() }}
<fieldset class="">
    {{ wtf.regular_field(form.name) }}
    {{ wtf.regular_field(form.slug) }}
    {% if team.logo %}
        <img src="{{team.logo}}"/>
    {% endif %}
    {{ wtf.regular_field(form.logo) }}
    {% if team.picture %}
        <img src="{{team.picture}}"/>
    {% endif %}
    {{ wtf.regular_field(form.picture) }}
    {{ wtf.regular_field(form.email) }}
    {{ wtf.regular_field(form.roster_url) }}
    {{ wtf.regular_field(form.twitter) }}
    {{ wtf.regular_field(form.fb_url) }}
    {{ wtf.regular_field(form.brief_about) }}
    {{ wtf.regular_field(form.description) }}
</fieldset>
